.search_background
{
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 200px;
    background: #92caca;
}

.search_bar
{
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
    height: 60%;
    background: #ffffff;
    color: #34aaa4;
    font-size: 30px;
    outline:none;
}