.result_background
{
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 200px;
    background: #3C4547;
}

.result_bar
{
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
    height: 60%;
    background: #ffffff;
    color: #7BAE7F;
    font-size: 30px;
    outline:none;
}