.result_background
{
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
    height: 90%;
    background: #3C4547;
}

.result_bar
{
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
    color: #ffffff;
    font-size: 50px;
    outline:none;
}

.result_stock
{
    margin-left:5%;
    height: 50px;
    width: 150px;
    background:#ffffff;
    color: crimson;
    font-size: 20px;
}
.result_detail
{
    margin-left: 5%;
    height: 60%;
    width: 100%;
    background: #ffffff;
    font-size:  10px;
}