body
{
    background: #7BAE7F;
    font-family: 'Spoqa Han Sans', 'Sans-serif';
}

#content
{
    width: 100%;
    height: 350px;
    margin-top: 6%;
    margin-left: 20%;
}

h1
{
    position: relative;
    text-align: center;
    color: #ffffff;
    font-size: 100px;
    margin-top: 15%;
}

.search_background
{
    width: 60%;
    height: 20%;
    background: #ffffff;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.15);
}

.search_bar
{
    width: 80%;
    height: 90%;
    padding-left: 10px;
    background: #ffffff;
    color: #3C4547;
    font-size: 30px;
    border: none;
    outline:none;
    font-weight: bold;
}

.search_btn
{
    display: inline-block;
    width: 15%;
    height: 100%;
    float: right;
    background: #73956F;
}